
 .home{
    height: 100vh;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
} 

body {
   background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(119, 118, 118, 0.274)
    ), url('BG3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;

    /* height: 100vh; */
    }
